body {
    background-color: #000000;
    color: #f0f0f0;
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    position: relative;
}

::selection {
    background-color: #66ccff;
    color: #ffffff;
}

body::before {
    content: "";
    background: url('/static/img/bg.png');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.container {
    display:flex;
    flex-direction: column;
    width: 60%;
    min-height:100vh;
    flex:1;
    margin: 0 auto;
    padding: 0px;
    background-color: #1a1a1a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    border:1px solid rgb(29, 29, 29);
}

.head {
    background-color: #161313;
    text-align: center;
    margin-bottom: 40px;
}

pre.title {
    color: #66ccff;
    font-size: 10px;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.2;
}

hr {
    border: 1px solid #4d4d4d;
    margin: 20px 0;
}

h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 10px;
}

p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
    color: #e0e0e0;
}

.sectionSeparator {
    display: block;
    height: 30px;
}

a {
    color: #5db9e7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, input[type="submit"] {
    background-color: #2a40bb;
    border: none;
    color: #1a1a1a;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover {
    background-color: #51a4ce;
}



.body {
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }
    pre.title {
        font-size: 5px;
    }

    p span {
        font-size: 0.9em;
    }
}

.footer {
    margin-top: auto;
    background-color: f1f1f1;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #4d4d4d;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imgLogo {
    width: 50px;
    height: auto;
}

.footer p {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    color: #f0f0f0;
}

.nav-container {
    background-color: #161313;
    padding: 10px 20px;
  }
  

  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    display: none;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-menu button {
    color: white;
    background-color: #161313;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .nav-menu button:hover {
    background-color: #252525;
    border: 1px solid rgb(29,29,29);
  }
  

  .nav-icons a img {
    width: 20px;
    height: auto;
    margin-left: 10px;
  }
  

  @media (max-width: 1455px) {

    .nav-toggle {
      display: block;
    }
    

    .nav-menu {
      flex-direction: column;
      align-items: flex-start;
      display: none;
      width: 100%;
      margin-top: 10px;
    }
    

    .nav-container.active .nav-menu {
      display: flex;
    }
    

    .nav-menu button {
      width: 100%;
      text-align: left;
      margin: 5px 0;
    }
    
    .nav-icons {
      margin-top: 10px;
      display: flex;
    }
  }


.card {
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.2em;
    font-weight: 600;
    color: #ffffff;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-content {
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    color: #e0e0e0;
    line-height: 1.6;
    flex: 1;
}


.card img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    border-radius: 4px;
    margin-left: 20px;
}

.card-link img{
    height:20px;
    width:auto;
}
.card-header img {
    width: 120px;
    height: auto;
    border-radius: 4px;
    margin-left: 10px; 
}
.card-header {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
}

.alert {
    padding: 15px 20px;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.5;

}

.alert-success {
    color: #ffffff;
    background-color: #00801e;
    border-color: #00701a;
}


.alert-info {
    color:white;
    background-color: #0088d6;
    border-color: #1655db;
}

.urgent-alert-info {
    color: white;
    background-color: #0088d6;
    border-color: #1655db;
    animation: flicker 1s infinite;
}

@keyframes flicker {
    0% {
      background-color: #0088d6;
      border: red 2.2px solid;
    }
    100% {
      background-color: #016faf;
      border-color: transparent;
    }
  }
  
  @keyframes typeDelete {
    0%   { width: 0; }
    40%  { width: 41ch; }
    60%  { width: 41ch; }
    100% { width: 0; }
  }
  
  @keyframes blinkCaret {
    50% { border-color: transparent; }
  }
  
  @keyframes caseChange {
    0%, 50%  { text-transform: lowercase; }
    50.01%, 100% { text-transform: none; }
  }
  
  .typing-effect {
    display: inline-block;
    font-family: monospace;
    color: #51ff00;
    font-size: 1.2rem;
    white-space: nowrap;
    font-weight: bolder;
    overflow: hidden;
    border-right: 2px solid #ffffff;
    width: 0;
    animation: typeDelete 8s steps(41, end) infinite, 
               blinkCaret 0.75s step-end infinite;
  }
  

  @media (max-width: 580px) {
    .typing-effect {
      font-size: 0.7rem;
    }
  @media (max-width: 380px) {
    .typing-effect {
      font-size: 0.5rem; 
    }
}
  }